<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Admin Page</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/public/styles/admin.css"> -->

  <!-- VENDOR SCRIPTS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/admin.js"></script>
  <!-- <script src="/scripts/admin.js"></script> -->

  <style>
    body {
    padding-top: 50px;
}
  </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Admin</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#users">Users</a></li>
              <li><a href="#ratings">Ratings</a></li>
              <li><a href="#schools">Schools</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      

      
      <div class="container">
          <h1>Admin Page</h1>
<!-- Users -->  
          <div class="container"></div>
              <h2 class="text-center"><a name="users">Users</a></h2>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <form class="form-inline" id="newUserForm">
                    <div class="form-group">
                      <label for="user">User</label>
                      <input type="text" class="form-control" id="userName" name="userName" placeholder="User name">
                      <input type="hidden" id="userid" name="userid">
                    </div>
                    <div class="form-group">
                      <label for="Role">Role</label>
                      <input type="text" class="form-control" id="role" name="role" placeholder="User role">
                    </div>
                    <div class="form-group">
                        <label for="avatar">Avatar</label>
                        <input type="text" class="form-control" id="avatar" name="avatar" placeholder="User avatar">
                      </div>
                    
                    <button type="submit" class="btn btn-success">Create user</button>
                  </form>
                  <div id='userTarget'>
                      <div id="userList" >
                          <table id="userTable" class="table">
                              <thead>
                                <tr>
                                  <th>User Name</th>
                                  <th>Role</th>
                                  <th>Avatar</th>
                                  <th>Options</th>
                                </tr>
                              </thead>
                                <tbody>
                                </tbody>
                          </table>
                        </div>
                  </div>
                </div>
              </div>
            </div>

<!-- Rating -->
            <div class="container">
            <h2 class="text-center"><a name="ratings">Ratings</a></h2>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <form class="form-inline" id="newRatingForm">
                  <div class="form-group">
                    <label for="user">User</label>
                    <input type="text" class="form-control" id="userRatingName" name="userRatingName" placeholder="User name">                    
                    <input type="hidden" id="user_ratingid" name="user_ratingid">
                  </div>

                  <div class="form-group">
                      <label for="school">SchoolID</label>
                  <input type="text" id="school" name="school" value="5c6dd5887c3a478d7a6e935e"> 
                  </div>
                  <div class="form-group">
                    <label for="userRating">User Rating</label>
                    <input type="text" class="form-control" id="userRating" name="userRating" placeholder="User rating">
                  </div>
                  <div class="form-group">
                    <label for="ratingDate">Rating Date</label>
                    <input type="text" class="form-control" id="ratingDate" name="ratingDate" placeholder="Rating date">
                  </div>
                  <div class="form-group">
                    <label for="comments">Comments</label>
                    <input type="text" class="form-control" id="comments" name="comments" placeholder="Comments">
                  </div>
                  <button type="submit" class="btn btn-success">Create rating</button>
                </form>
                <div id='userTarget'>
                    <div id="userList" >
                        <table id="ratingTable" class="table">
                            <thead>
                              <tr>
                                <th>User Name</th>
                                <th>User Rating</th>
                                <th>Rating Date</th>
                                <th>Comments</th>
                                <th>Options</th>
                              </tr>
                            </thead>
                              <tbody>
                              </tbody>
                        </table>
                      </div>
                </div>
              </div>
            </div>
          </div>

<!-- Schools -->  
          <div class="container">
              <h2 class="text-center"><a name="schools">Schools</a></h2>
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <form class="form-inline" id="newSchoolForm">
                    <div class="form-group">
                      <label for="school">School Name</label>
                      <input type="text" class="form-control" id="schoolName" name="schoolName" placeholder="School name">
                      <input type="hidden" id="schoolid" name="schoolid">
                    </div>
                    <div class="form-group">
                      <label for="city">City</label>
                      <input type="text" class="form-control" id="city" name="city" placeholder="School city">
                    </div>
                    <div class="form-group">
                      <label for="district">District</label>
                      <input type="text" class="form-control" id="district" name="district" placeholder="School district">
                    </div>
                    <div class="form-group">
                      <label for="academicRating">Academic Rating</label>
                      <input type="text" class="form-control" id="academicRating" name="academicRating" placeholder="School academic rating">
                    </div>
                    <button type="submit" class="btn btn-success">Create school</button>
                  </form>
                  <div id='schoolTarget'>
                      <div id="schoolList" >
                          <table id="schoolTable" class="table">
                            <thead>
                              <tr>
                                <th>School Name</th>
                                <th>City</th>
                                <th>District</th>
                                <th>Academic Rating</th>
                                <th>Options</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>
                        </div>
                  </div>
                </div>
              </div>
            </div>
        
      </div><!-- /.container -->

</body>
</html>