<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>School Reviews</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/admin.css"></link>

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">School Reviews</h1>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-inline" id="newSchoolReviewsForm">
            <div class="form-group">
              <label for="school">School</label>
              <input type="text" class="form-control" id="school" name="school" placeholder="School Name">
            </div>
            <div class="form-group">
              <label for="school">User</label>
              <input type="text" class="form-control" id="user" name="user" placeholder="user">
            </div>
            <button type="submit" class="btn btn-default">Save school</button>
          </form>
          <div id='schoolTarget'>
          </div>
        </div>
      </div>

      <div id="schoolList" >

        <table id="schoolsTable" class="table">
          <thead>
            <tr>
              
              <th>School</th>
              <th>User</th>
              <th>Ratings</th>
            </tr>
          </thead>
          <tbody>
        
          </tbody>
        </table>
        
        </div>
        

    </div>