/* Main */

body { 
    width: 100%;
}

.listings-section {
    width: 70%;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0%;
    right: 0%;
    height: auto;

}

aside {
    background-color: rgba(0,109,178,.3);
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 2.5%;
    height: 80%;
}


    /* Aside */


    .search-bar {
        width: 25%;
        height: 82.5%;
    }

    /*  */

    /* Listing Section */

    .listings-section * {

        border: 1px solid black;
    }

    .listings-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow-y: auto;
    }

    .listings-wrapper:first-child {
        margin-top: 7.5%;
    }
    
    .listings-wrapper:last-child {
        margin-bottom: 5%;
    }

    .listing {
        height: 20%;
        width: 95%;
        margin: 1% auto;
        display: flex;
    }

    .listings-section p {
        text-align: center;
    }

        /* listings */

        .listing-details {
            width: 60%;
            height: 100%;
            display: flex;
        }

        .listing-details img {
            max-width: 100%;
            height: 5em;
        }

        .listing-rating {
            width: 30%;
        }

        .listing-text {
            width: 60%;
        }

        .user-rating {
            height: 20%;
            width: auto;
    
        }

        .star-wrapper img {
            height: 1em;
            width: auto;
        }

        h3 {
            font-size: .75em;
            text-align: center;
        }

    /*  */