* {
    margin: 0 auto;
    padding: 0 auto;
    /* border: 1px solid black; */
    font-size: 18px;
    color: rgb(40,40,40);
    font-family: 'Noto Serif', serif;
    font-family: 'Oxygen', sans-serif;
}

/* Colorscheme
    Primary Color / Blue
    rgb 0,109,178 / hex #006DB2

    Secondary Color / Gold
    rgb 178,104,0 / hex #B26800

    Text/Accent Color / Dark Slate
    rgb 73,76,97 / hex #494C61

*/

html, body {
    width: 99%;
    height: 99%;
    border: none;
}

main {
    display: flex;
    height: 80%;
    margin: 5% 0;
    width: 100%;
}

/* Header */

header {
    height: 4em;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #006DB2;
    z-index: 5;
}

header * {
    color: white;
    text-decoration: none;
}


.header-logo img {
    width: auto;
    height: 90%;
    position: absolute;
    left: .5rem;
    top: 1rem;
    padding-bottom: 1rem;

}

header nav {
    margin: 0 auto;
    position: absolute;
    right: 2.5%;
    margin-top: .4%;
}

.header-logo h1 {
    font-family: 'Noto Serif', serif;
    font-size: 2em;
    padding: none;
    text-align: left;
    position: absolute;
    top: 2%;
    left: 3em;
}

header a {
    /* text-align: right; */
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1%;
    margin-left: 1em;
}



/* Footer */

footer {
    width: 100%;
    height: 2em;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #B26800
}

footer p {
    text-align: center;
    border: none;
    color: white;
}

/* Signin */

#lightbox {
    z-index: 10;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(255,255,255,.6);
    display: none;
}


#signin-wrapper {
    z-index: 20;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #006DB2;
    position: absolute;
    left: 25%;
    top: 25%;

}

#newSchoolForm {
    margin: 0 auto;
}

.signin-wrapper form * {
    margin: 2.5%;
}

#signin-close {
    text-align: center;
    background-color: red;
    color:white;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: .5em;
    font-weight: bold;
    text-decoration: none;
    width: 2em;
    height: 2em;
    position: absolute;
    right: 1em;
    top: 1em;
}
