* {
    margin: 0 auto;
    padding: 0 auto;
    border: 1px solid black;
    font-size: 24px;
}

html, body {
    width: 99%;
    height: 99%;
    border: none;
}

main {
    display: flex;
    height: 80%;
    margin: 5% 0;
}

/* Header */

header {
    height: 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-logo {
    display: flex;
}

header nav {
    margin: 0 auto;
    position: absolute;
    right: 2.5%;
    margin-top: .4%;
}

header h1 {
    text-align: left;
    position: absolute;
    left: 2.5%;
    margin-top: .4%;
}

header a {
    text-align: right;
}



/* Footer */

footer {
    width: 100%;
    height: 3%;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer p {
    text-align: center;
    border: none;
}